body {
  background-color: #e5e5e5;
  padding: 0;
  margin: 0;
}

.container {
  height: 200px;
  width: 90vw;
  box-shadow: -7px -7px 17px rgba(255, 255, 255, 0.6),
    7px 7px 17px rgba(70, 70, 70, 0.12);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  display: block;
  height: 100px;
  width: 100px;
  box-shadow: -7px -7px 17px rgba(255, 255, 255, 0.6),
    7px 7px 17px rgba(70, 70, 70, 0.12);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 40px;
}

.fa-twitter {
  color: #23abff;
}

.fa-facebook {
  color: #3e68c0;
}

.fa-instagram {
  color: #ea3145;
}

.fa-whatsapp {
  color: #27ae60;
}

.fa-linkedin {
    color: #0077B5;
}
